PUBLIC_CONVEX_URL=
PUBLIC_POSTHOG_TOKEN=
PUBLIC_POSTHOG_HOST=https://e.patchhub.io

WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_REDIRECT_URI=
WORKOS_COOKIE_PASSWORD=

CONVEX_SERVER_SECRET=
STEAM_API_URL=
